<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Practice">


    <!--Class-level annotations simplifies test classes where possible-->
    <test name="Selenium Test">
        <classes>
            <class name="com.selenium.Tests"/>
        </classes>
    </test>

</suite> <!-- Suite -->